                                                 .
# Gli errori in Python
## Un Piccolo Vademecum

Imparare a leggere e comprendere gli errori è una vera e propria arte che richiede molta pratica, una buona conoscenza teorica e molto sangue freddo. Tendenzialmente è buona prassi prendere in considerazione l'ultima riga. È l'unica "spiegazione" facilmente interpretabile in mezzo ad una lunga serie di indirizzi, rimandi a librerie, errori generati da funzioni e le loro concatenazioni. Conoscerli, saper distinguerli, classificarli vi aiuterà a ridurre la possibilità che ciò avvenga.

Alla fine di questo vademecum, dovreste essere in grado di "interpretare" gli errori più comuni, evitarli, e, anche se non siete in grado di risolverli, sapere cosa e dove andare a cercare. È bene ricordarsi, se si dà importanza alla qualità del proprio tempo, che non esiste errore che non sia stato discusso e/o risolto su [Stack Overflow](https://stackoverflow.com/). In momenti di disperazione estrema, piuttosto che innervosirvi, staccare tutto e decidere di testare la qualità dei materiali del vostro computer lanciandolo da un buon terzo piano, basterà incollare l'errore sul motore di ricerca e, quasi sicuramente, il primo risultato sarà una pagina di Stack Overflow.

Le AI sono in grado di comprendere e risolvere gli errori, ma capita frequentemente che a seguito di un prompting (l'arte di fare le domande alle AI) infelice e/o di una loro incapacità di analizzare il problema nel suo contesto specifico, propongano risoluzioni errate ed alle volte inventate, mischiando concetti tra loro. Se può consolarvi, non è ancora giunto il momento di poter dichiarare le AI infallibili.

Ogni argomento verrà spiegato con termini ed approcci non troppo "tecnici". Lo scopo di questo testo è quello di rendere chiari concetti di programmazione Python in modo semplice e "fruibile".

### NameError:

Il NameError si verifica quando Python cerca una variabile che non è stata dichiarata o è stata scritta nel modo sbagliato.

In [ ]:
"""
    NameError: name 'giovani' is not defined
"""    

giovanni = "giuanni"

print(giovani)

Nello statement print abbiamo un errore di battitura. Python andrà a cercare la variabile giovani e non la troverà.

In [57]:
"""
    NameError: name 'giuanni' is not defined
"""

print(giuanni)

NameError: name 'giuanni' is not defined

Tutto ciò che sta al di fuori di singoli e doppi apici viene considerato come nome di una variabile, funzione etc, etc. 
Verrà dunque cercata una variabile giuanni e non verrà trovata. La stringa "giuanni" è conservata all'interno della variabile
giovanni e verrà riconosciuta solo tramite il richiamo a quest'ultima.

In [111]:
"""
    NameError: name 'roberto' is not defined
"""

print(roberto)

roberto = "rob"

NameError: name 'roberto' is not defined

Ricordiamoci che Python è un linguaggio multiparadigma e fuori dal contesto della oop e le operazioni vengono 
eseguite in maniera consequenziale. In questo caso, il print() non trova la variabile
roberto poichè questa è stata dichiarata dopo la funzione.

### SyntaxError:

Il SyntaxError si verifica a seguito di errori di sintassi. Vediamo subito degli esempi pratici:

In [2]:
"""    ^
    SyntaxError: incomplete input

"""
print("hello world"

SyntaxError: incomplete input (1982670319.py, line 2)

L'interprete di Python, analizza ciò che noi scriviamo secondo le regole della sua sintassi. Viene fatta 
un'operazione di "parsing", ovvero di analisi dei caratteri. L'interprete sa che ad una '(' , prima o poi nel codice,
dovrà corrispondere una ')'. Se non la trova, genererà errore.

In [3]:
"""
    SyntaxError: unterminated string literal (detected at line 1)
"""
print("aaaa)

SyntaxError: unterminated string literal (detected at line 1) (1441746771.py, line 1)

In questo caso, poprio per lo stesso concetto di prima, ci verrà comunicato che la stringa è incompleta 
e dovremo provvedere ad aggiungere " alla fine.
Sarà molto facile incorrere in questo tipo di errori e basta ricordarsi che ogni volta che troverete 
un SyntaxError, molto probabilmente avrete dimenticato o scritto male:  
- parentesi 
- virgole 
- punti e doppi punti
- singoli e doppi apici etc etc

o che avrete invertito l'ordine di parentesi o nomi in indicizzazioni di liste o dichiarazioni di funzioni o che,
semplicemente, avete scritto qualcosa privo di senso(per il nostro interprete, naturalmente):

In [46]:
lista = [0,1,2,3]
lista[1]

1

non è uguale a

In [48]:
"""
    SyntaxError: invalid syntax
"""

lista = [0,1,2,3]
[1]lista

SyntaxError: invalid syntax (2501165655.py, line 6)

Un caso molto comune può derivare da un utilizzo scorretto di apici e doppi apici:

In [32]:
frase = 'All'ammore'

SyntaxError: unterminated string literal (detected at line 1) (3033170022.py, line 1)

in questo esempio l'interpete troverà un numero dispari di singoli apici e non sarà in grado di distinguere quale sia l'inizio e quale la fine della stringa.  
Utilizziamo i singoli apici attorno la stringa se prevediamo di utilizzare i doppi apici al suo interno e viceversa.  
Ricordiamo però che Python predilige i doppi apici.  
E se voglio scrivere un quote con dentro un apostrofo?  
In questo caso ci verrà incontro il backslash \ .  
Combinarlo con alcune lettere o simboli ci farà di ottenere la cosìdetta sequenza(o carattere) di escape e ci permetterà
di inserire caratteri non stampabili o speciali all'interno della stringa:

In [74]:
frase = "\" All'ammore \""
print(frase)

frase ="\tAll'ammore"
print(frase)

frase ="Allo \nammore"
print(frase)

# https://www.w3schools.com/python/gloss_python_escape_characters.asp

" All'ammore "
	All'ammore
Allo
ammore

### IndentationError:

Chi non ha mai affrontato linguaggi a basso livello non può neanche immaginare
quanto Python sia facile da apprendere ed utilizzare.  
Tanta potenza però richiede che si rispettino
dei criteri ben precisi e se vogliamo essere "aiutati" da Python, dobbiamo "aiutare" Python.   
L'indentazione, ovvero la pratica di inserire ogni snippet("pezzi" di codice) all'interno del 
suo "scope"(contesto), permette di evitare sintassi macchinose, ripetitive ed a molti indigeste, 
ma va rispettata con rigore.

In [5]:
"""
    IndentationError: expected an indented block after 'for' statement on line 1
"""

for x in range(1,10):
print(x)

IndentationError: expected an indented block after 'for' statement on line 1 (2545383478.py, line 2)

L'interprete si aspetta che dopo : nella riga successiva si inizi a scrivere solo 
dopo 4 spazi(tasto TAB nella tastiera) nello scope del ciclo for.  
E' il metodo che gli sviluppatori python(e non solo loro) hanno adottato 
per distinguere le varie "sezioni" del codice, in modo da non far entrare in 
conflitto funzioni, cicli etc etc e rendere tutto più leggibile.  
Imparare l'utilizzo corretto dell'indentazione è fondamentale per lavorare con Python. 

Analizziamo un caso interessante:

Supponiamo di voler visualizzare il numero num per 10 volte e di volerlo incrementare ad ogni ciclo.

Facciamo il run su questa cella:

In [7]:
num = 0

for x in range(10):

    print(num)

num += 1 # fuori dallo scope di for

print(num)

0
0
0
0
0
0
0
0
0
0
1

L'incremento avviene fuori dallo "scope" del ciclo e quindi avviene solo dopo che 
questo si è concluso. Il codice limiterà ad incrementare num solo una volta e 
poi lo stamperà a schermo.  
Bisogna sempre seguire buone pratiche di indentazione o Python potrebbe tradirci. 
E dato che in questi casi non ci sono errori di sintassi,non ci sarà nessuno 
ad "avvisarci" della nostra distrazione.

Questo quel che succede rispettando l'indentazione di for nel codice precedente:

In [58]:
num = 0

for x in range(10):

    print(num)

    num += 1 # dentro lo scope di for

print(num)

0
1
2
3
4
5
6
7
8
9
10

Mooolto meglio, non credete? :D

### TypeError:

I Type Error sono errori che si presentano quando stiamo tentando di compiere operazioni su formati che non le supportano.  
Vediamo di cosa si parla:

In [8]:
"""
    TypeError: unsupported operand type(s) for +: 'int' and 'str'"""

a = 1
b = "2"

print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In questo esempio, stiamo provando a sommare un intero ad una stringa.  
Questa operazione non è possibile in Python. Il tipo string infatti supporta la somma 
solo se avviene tra stringhe e si limiterà ad unire i caratteri.

In [14]:
"""
    TypeError: 'int' object is not iterable
"""

print(sum(1 + 2))

TypeError: 'int' object is not iterable

In [15]:
"""
    TypeError: 'int' object is not iterable
"""

"-".join(1989)

TypeError: can only join an iterable

In questi due esempi stiamo provando ad utilizzare delle funzioni che prendono come 
argomento degli iterabili. Un iterabile è una collezione di dati sulla quale 
si può effettuare una ciclazione. Una stringa, una lista, una tupla, un dict etc ect
sono iterabili.
La funzione sum() prende come argomento un iterabile e somma i valori(solo se numerici o booleani) 
al suo interno. 
La somma 1 + 2, restituisce un intero ed un intero non è un iterabile.
Se mettessimo i valori 1 e 2 dentro una lista o un tupla, separati da una virgola, 
staremmo dando alla funzione un iterabile come argomento e la funzione darebbe il risultato
voluto:

In [77]:
print("somma lista", sum([1,2])) # i numeri sono dentro una lista    
print("somma tupla", sum((1,2))) # i numeri sono dentro una tupla

somma lista 3
somma tupla 3

La funzione join() prende come argomento un iterabile e alterna
i suoi valori(stringhe o caratteri) ad una stringa 
"separatore" restituendo a sua volta una stringa.
Se proviamo ad inserire il valore 1989 tra doppi apici, trasformandolo in 
una stringa, vedremo la funzione join() funzionare magicamente:

In [16]:
"-".join("1989")

'1-9-8-9'

Altro caso tipico di TypeError:

In [27]:
"""
    TypeError: 'tuple' object does not support item assignment
"""

tupla = (1,2,3,4,5)

tupla[0] = 4

TypeError: 'tuple' object does not support item assignment

In questo caso, stiamo provando ad assegnare tramite indexing un valore alla tupla.  
La tupla, una volta dichiarata, non consente nessun genere di modifica

Come si fa dunque ad imparare a difendersi dai TypeError???  
Con molta pratica riconoscere formati e proprietà dei formati standard diventerà un'operazione 
quasi(e ribadisco quasi :D) del tutto scontata. Prima di allora è bene utilizzare quanto il più possibile 
(è aggratis!!!!), la funzione type() e andare a cercare sulla rete proprietà e attributi relativi ad ogni classe.

In [24]:
intero = 1
stringa = "aaaa"
lista = [1,2,3,4]

print(type(intero))
print(type(stringa))
print(type(lista))

#si può usare anche con funzioni, oggetti etc etc!!!!!
print(type(sum))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'builtin_function_or_method'>

Vediamo un altro caso:

In [53]:
"""
    TypeError: 'builtin_function_or_method' object is not subscriptable
"""


lista = [1,2,3,4,5]

print(max[lista])

TypeError: 'builtin_function_or_method' object is not subscriptable

Se al posto delle () mettiamo [] dopo la funzione, Python si aspetterà che quello 
a cui si riferiscono le parentesi sia un iterabile.
Cercherà dunque di "indicizzare" la funzione e non potrà farlo.

In [54]:
"""
    TypeError: 'list' object is not callable
"""


lista = [1,2,3,4,5]

print(lista(3))

TypeError: 'list' object is not callable

Allo stesso modo, se ad un iterabile faremo seguire () il messaggio ci dirà "is not callable".
Questo avviene perchè in questo caso Python intepreta () come chiamata ad una funzione.

### AttributeError:

Simile al TypeError è l'AttributeError:

In [25]:
"""
    TypeError: ''tuple' object has no attribute 'pop'
"""


tupla = (1,2,3,4,5)

tupla.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In questo caso, sto tentando di utilizzare un metodo delle liste con una tupla. Il metodo viene 
dunque attribuito al formato errato.

Vediamo un caso interessante:

In [29]:
parola = "Eremo"

parola.lower().count("e")

2

In questo esempio stiamo concatenando due funzioni. La funzione .lower() restituirà una stringa 
identica alla prima ma in minuscolo. count() è una funzione che trova un valore in un iterabile 
e ne conta le occorrenze. Le stringhe, come detto , sono iterabili e count() ricevendo la stringa 
modificata da lower(), sarà in grado di fare il suo lavoro.  
Ma cosa succede se inverto le funzioni???

In [31]:
"""    
    AttributeError: 'int' object has no attribute 'lower'
"""    

parola = "Eremo"

parola.count("e").lower()

AttributeError: 'int' object has no attribute 'lower'

In questo caso la prima funzione ad essere eseguita è count() che restituirà un intero, lower() aspettandosi 
una stringa darà errore e verremo gentilmente avvisati di aver fatto un po' di confusione.

### IndexError e KeyError:

Errori complementari tra loro sono IndexError e KeyError. Vediamo di cosa si tratta:

In [33]:
"""
    IndexError: list index out of range
"""

lista = [1,2,3,4,5,6,7]

lista[9]

IndexError: list index out of range

Ci si imbatte in questo errore molto spesso in contesto di for e while, quando si cerca di 
ciclare su in iterabile e non se ne controlla bene l'indexing.

Caso "estremo" che vi costringerà a chiudere terminale o jupyter senza 
nessuna delicatezza, è questo:  

count = 0  

while count < 9:  

    print(count)  

l'assenza di un incremento di count, porterà il ciclo ad effettuare una verifica
su di un valore che resta sempre fisso.  
Leggiamo questo ciclo come "finchè count è minore di 9, stampa count".
Count sarà sempre minore di nove, il ciclo andrà in loop e non
sarà in grado di riconoscere l'errore.  
Se fate il run su jupyter andrà in crash, ma se volete provare....
salvate prima tutto e dopo averlo lanciato fate un bel refresh e 
torna tutto come prima(speriamo :D)

Adesso vediamo i KeyError, simili agli IndexError ma relativi alle chiavi dei dizionari:

In [89]:
"""
    KeyError: 'Nome'
"""

KeyError: 'Nome'    
dizionario = { "nome" : "John",
              "cognome" : "Paul Jones",
              "professione": "Divinità Pagana"
            }
print(dizionario["Nome"])

KeyError: 'Nome'

Modificare anche un solo carattere della stringa non farà trovare la chiave richiesta. 
Il carattere "E" e il carattere "e" verranno considerati come caratteri differenti poichè 
le stringhe in Python(ed in parecchi altri linguaggi e contesti) sono "case-sensitive".
Analizziamo un altro caso:

In [67]:
"""
    NameError: name 'professione' is not defined
"""
dizionario = {
                "nome": "Carlo",
                "cognome": "Pedersoli",
                professione : "Eroe"
}

NameError: name 'professione' is not defined

Perchè in questo esempio l'errore è un NameError e non un KeyError???  
La chiave "professione" non è tra doppi apici. Al momento di andare a creare la chiave, cercherà una variabile con quel nome e non la troverà.

### FileNotFoundError:

Lavorare coi file può essere molto soddisfacente e, con la potenza di Python, le 
operazioni che si possono fare su di essi sono pressochè infinite.
Bisogna però ricordarsi alcuni concetti molto semplici riguardanti i "path" o 
anche la più semplice operazione potrebbe diventare incredibilmente tediosa.  
Il path(percorso) è una sequenza di cartelle(directories) unite tra loro da un separatore
e ci serve ad identificare la posizione e trovare un determinato file o cartella nel nostro computer.  

Prenderemo in considerazione due tipi di path: il path relativo ed il path assoluto.

Il path relativo prende in considerazione come cartella di "partenza" la cartella in cui 
è posizionato lo script:

In [99]:
# N.B. Da questo momento in poi verranno generate due cartelle ed un csv sample
# sul vostro computer.
# se per qualche motivo non desiderate che ciò avvenga, limitatevi a leggere
# e non eseguite il run ;)

contenuto_file = [
                    "Nome, Cognome\n",
                    "John, Lennon\n",
                    "Paul, Mccartney\n",
                    "George, Harrison\n",
                    "Richard, Starkey\n"
                ]

with open("sample1.csv", "w") as file:

    file.write("".join(contenuto_file))

Se fate il run sullo script qui sopra, verrà genrato un csv nella cartella in cui
è posizionato VademecumErrori. Dato che la cartella è la stessa, per accedere al file
basterà inserire in una stringa il nome del file(sempre seguito dal suo formato o
Python lo scambierà per un'altra cartella) e riusciremo ad accedervi.  
E si, per chi non lo sapesse, Richard Starkey è il vero nome di Ringo Starr...

In [100]:
import pandas as pd

df = pd.read_csv("sample1.csv")

print(df)

      Nome     Cognome
0     John      Lennon
1     Paul   Mccartney
2   George    Harrison
3  Richard     Starkey

se cerco il file senza specificare il formato, ecco quel che accade:

In [95]:
"""
    FileNotFoundError: [Errno 2] No such file or directory: 'sample1'  
"""    

import pandas as pd

df = pd.read_csv("sample1")

print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'sample1'

In [101]:
import os
import shutil as sh

os.makedirs("cartellaSample")
os.makedirs("cartellaSample/cartellaSample2")
sh.move("sample1.csv", "cartellaSample")

'cartellaSample/sample1.csv'

Giusto perchè sia chiaro quel che succede, dato che non è questa la sede per 
approfondire os e shutil e chi scrive non è la persona giusta per farlo(non 
giocateci troppo, sono librerie che comunicano col sistema operativo), 
lo script qui sopra crea con os una cartellaSample.  
Al suo interno sposta(con shutil) il file sample1.csv. e genera una cartella vuota cartellaSample2.  
Se prendiamo in considerazione la nostra cartella di partenza, per accedere 
al file bastarà aggiungere al path il nome della directory nella quale abbiamo
inserito il csv ed il nome del file:

In [104]:
df = pd.read_csv("cartellaSample/sample1.csv")

      Nome     Cognome
0     John      Lennon
1     Paul   Mccartney
2   George    Harrison
3  Richard     Starkey

In [106]:
sh.move("cartellaSample/sample1.csv", "cartellaSample/cartellaSample2")

'cartellaSample/cartellaSample2/sample1.csv'

con la riga qui sopra, sposto sample1.csv da cartellaSample a cartellaSample2.  
Per accedervi adesso dovrò digitare:

In [107]:
pd.read_csv("cartellaSample/cartellaSample2/sample1.csv")

      Nome     Cognome
0     John      Lennon
1     Paul   Mccartney
2   George    Harrison
3  Richard     Starkey

Altra cosa è il path assoluto. Partendo dalla cartella root(C: in Windows), 
il path assoluto prenderà in considerazione tutte le cartelle da "percorrere" 
per arrivare al file desiderato.  
Per capire questo concetto ricorriamo ad os:

In [108]:
os.getcwd()

'/home/claudio/Scrivania/epiEnv'

Nel mio caso, sistema Linux Ubuntu(qualcosa di simile dovrebbe avvenire in Mac) non indica
la cartella C: e considererà il primo slash come cartella root.  
Tramite la funzione os.getcwd(), ottengo il percorso del vademecum che come vedrete è così' 
composto:  

"cartella_root/home/cartella_utente/scrivania/cartella_script"  

dato che cartella_script è la cartella in cui si trova il nostro vademecum, basterà
aggiungere il percorso relativo del file sample1.csv ed otterremo il percorso assoluto completo:

In [110]:
percorso_assoluto_script= os.getcwd()
percorso_relativo_file= "cartellaSample/cartellaSample2/sample1.csv"
percorso_assoluto_file = f"{percorso_assoluto_script}/{percorso_relativo_file}"
pd.read_csv(percorso_assoluto_file)

      Nome     Cognome
0     John      Lennon
1     Paul   Mccartney
2   George    Harrison
3  Richard     Starkey

Sarebbe comunque consigliato(anche se Python da questo di vista è 
incredibilmente portabile) passare un po' di tempo a spulciare i 
comandi base del terminale del vostro sistema operativo.  
Il modo di scrivere o interpretare comandi, flags, paths cambia
da sistema in sistema.  
Impararne le basi vi aiuterà parecchio nel comprendere quel mondo
misterioso che è il vostro computer, a smettere progressivamente 
di temerlo e riuscire, infine, a domarlo.

Vademecum Errori è giunto alla fine.  
Spero ne possiate godere e che vi risulti utile!  
Buona programmazione a tutti!